.tabs {
  margin-bottom: 0.9rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  gap: 0.5rem;
  border-radius: var(--radius);
  z-index: 1;

  & .selected {
    box-shadow: 0 0 0.05rem 0 rgba(0, 0, 0, 0.4);
    scale: 0.95;
  }
  & button {
    text-align: center;
    color: var(--primaryDark);
    box-shadow: 0.09rem 0.1rem 0.05rem 0.04rem rgba(0, 0, 0, 0.2);
    border: none;
    outline: none;
    border-radius: var(--radius);
    font-size: 0.85rem;
    padding: 0.6rem 1rem;
    transition: scale 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    &:hover {
      font-weight: bold;
    }
    &:active {
      box-shadow: 0 0 0.05rem 0 rgba(0, 0, 0, 0.4);
      scale: 0.95;
    }
    &:focus {
      outline: 0.1rem solid var(--primaryDark);
    }
  }
}

#all {
  flex: 1;
  animation: fadeIn 0.2s ease-in-out 0.5s forwards;
  background-color: var(--pastel-yellow);
  border-right: none;
}
#active {
  animation: fadeIn 0.2s ease-in-out 0.3s forwards;
  flex: 1;
  background-color: var(--pastel-red);
  border-right: none;
}
#completed {
  animation: fadeIn 0.2s ease-in 0.4s forwards;
  flex: 1;
  background-color: var(--pastel-green);
}

@media (prefers-reduced-motion: no-preference) {
  #all,
  #active,
  #completed {
    opacity: 0;
  }
}
@media (prefers-reduced-motion: reduce) {
  #all,
  #active,
  #completed {
    animation: none;
  }
}
